.block {
  margin: 20px;
  height: 200px;
  width: 200px;
  padding: 10px;
  background-color: teal;

  /* -------------------------- */
  /* transform: translateX(150px); */
  /* transform: translateX(-150px); */
  /* transform: translateY(150px); */
  /* transform: translateY(-150px); */
  /* transform: translate(400px, 250px); */

  /* transform: rotate(45deg);
  transform: rotate(0.125turn);
  transform: rotate(0.25turn);
  transform: rotate(0.5turn);
  transform: rotate(0.75turn);
  transform: rotate(1turn); */

  /* transform: scaleX(1.2); */
  /* transform: scaleY(1.2); */
  transform: scale(1.2);
}
