article[id="animal-planet"] {
  background-color: lightslategray;
  padding: 15px;
  color: white;
}

h1[title="heading-one"] {
  font-size: 75px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

a[href="#"] {
  text-decoration: none;
  background-color: black;
  color: white;
  padding: 20px;
}
