* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: monospace;
  background-image: url("home_bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
}

a#book-link {
  text-decoration: none;
  border-bottom: thin solid white;
}

h1 {
  font-size: 65px;
  margin-bottom: 25px;
  text-align: center;
}

li {
  list-style: none;
}

.page {
  background-color: rgba(50, 57, 34, 0.65);
  width: 100vw;
  height: 100vh;
  padding: 30px 45px;
}

.content ul {
  display: flex;
  flex-direction: column;
}

.title {
  background-color: #009879;
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.title li {
  font-weight: 900;
  font-size: 30px;
}

.title,
.data {
  padding: 15px;
  display: grid;
  grid-template-columns: 3fr 2fr 1fr;
  place-content: center;
}

.data {
  color: black;
  background-color: rgba(243, 243, 243, 0.75);
  transition: all 0.25s ease-in-out;
}

.data li {
  font-size: 20px;
}

a#book-link:last-child {
  border-bottom: 3px solid #009879;
}

.data:hover {
  color: #009879;
  transform: scale(1.01);
}
